.hidden {
  display: none;
}

#title {
  color: white;
  text-align: center;
  font-size: 4rem;
}

#clock {
  color: white;
  text-align: center;
  font-size: 3rem;
}

#login-form {
  text-align: center;
}

#login-form #user-input {
  display: block;
  border: none;
  background: transparent;
  border-bottom: 3px solid white;
  color: white;
  margin: auto;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
#login-form #user-input:focus {
  outline: none;
}

#login-form #login-btn {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.5rem;
}
#login-form #login-btn:hover {
  cursor: pointer;
  opacity: 70%;
  transition: 0.8s;
}

#todo-form {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

#todo-form #input-text {
  border: none;
  background: transparent;
  border-bottom: 3px solid white;
  color: white;
  font-size: 1.5rem;
  margin-left: 35px;
}
#todo-form #input-text::placeholder {
  color: white;
  text-align: center;
  opacity: 50%;
}
#todo-form #input-text:focus {
  outline: none;
}

#todo-form #add-btn {
  color: white;
  border: none;
  background: transparent;
  font-size: 35px;
}
#todo-form #add-btn:hover {
  cursor: pointer;
  color: blue;
  transition: 0.8s;
}

#list-counter {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

#list-container {
  list-style: none;
}

#list-container li {
  color: white;
  clear: both;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

#list-container li button {
  float: right;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  padding-right: 40px;
}
#list-container li button:hover {
  cursor: pointer;
  color: red;
  transition: 0.8s;
}
